
p 
{
    color: rgb(10, 10, 15);
    font-size: 20px; /* Paragraphes de 20 pixels */
    border-radius: 10px;
}

 h1
{
    color: rgb(9, 9, 8);
    font-size: 60px; 
    text-align: center;
    font-size: 3em;
    border: 3px rgb(15, 15, 14) groove;
    
}
h2 {color: rgb(9, 9, 8);
    font-size: 60px; 
    text-align: center;
    font-size: 3em;
    border: 3px rgb(15, 15, 14) groove;
    }


body
{
    background-color: rgba(25, 209, 55, 0.473); 
}
a 
{
   text-decoration: none;
   color: red;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
   font-weight:bold;
}
a:visited /* Quand le visiteur a déjà vu la page concernée */
{
    color: #AAA; /* Appliquer une couleur grise */
}

.bagniere ul {
    border: 1px solid rgb(8, 8, 8);
    box-shadow: 6px 6px 0px black;
    display: flex;
    background: #011603;
    justify-content: space-around;
    padding: 12px;
  }
  
ul li {
    list-style: none; 
  }
 

 .titreII h3{
    font-size: 40px;
    text-decoration: underline;
}
.titreII h4{
    font-size: 30px;
    text-decoration: underline;
}
.glacage
{
   
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    text-align: center;
    
    align-content: flex-start;
    
}
.glacage img{
    margin: auto;
    display: inline;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 6px 6px 0px black; 

}
.gateau
{   display: flex;
    text-align: center;
    align-content: flex-start;
    margin: auto;
    justify-content: space-around;
  
    
}
.gateau img{
    border-radius: 10%;
    box-shadow: 6px 6px 0px black;
}
.gateau h4{ 
    font-size: 30px;
    text-decoration: underline;}
.etape{
    background-image: url('petit_carreaux.jpg');
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    border-radius: 10px;
    margin-left:650px;
    margin-right:650px;
    color:#090101;
    border-left:1px solid #090101; /* couleur du cadre */
    border-right:1px solid #060505;
    border-bottom:1px solid #060606;
    border-top:1px solid #0f0f0f;}
.etape h2 {
    font-size: 50px;
    text-align: center;
    border: none
}
 h4{ 
     font-size: 30px;
    text-decoration: underline;}
@media screen and (max-width: 700px){
    .etape {
        display: none;
    }

}
.cupcake {
    display: flex;
    justify-content: center;
    
    }
.cupcake img {
    border-radius: 10%;
    box-shadow: 6px 6px 0px black;
}
.titre h2{
    font-size: 50px;
    text-align: left;
    border: none;
}


   



   
        

    










  